{% extends 'base1.html' %}
{% load static %}


{% block content %}
<body style="background-color: rgb(255, 255, 255);"></body>
    
<!--  -->


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Add Products</h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span></span></h2><br>
                    <br>
                    <p class="m-b-0">Last Added Product : <span class="f-right">{{count1}}</span></p><br>
                    <a href="{% url 'productadd' %}" class="btn btn-outline-dark">Add</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">View Product</h6>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span></span></h2>
                    <br><br>
                    <p class="m-b-0">Total Products : <span class="f-right"></span>{{count}}</p><br>
                    <a href="{% url 'listproduct' %}" class="btn btn-outline-dark">View</a>
                </div>
            </div>
        </div>
        
        <!-- <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Orders Received</h6>
                    <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>486</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Orders Received</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>486</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
            </div>
        </div> -->
	</div>
</div>





{% endblock %}